<li id="team_chat_template">
  <div class="commenterImage">
    <img src="#" />
  </div>
  <div class="commentText">
    <p class="green_font">#</p><span class="date sub-text green_font">#</span>
  </div>
</li>