<li id="trash_talk_template" style="display:none;">
  <div class="commenterImage">
    <img src="#" />
  </div>
  <div class="commentText">
    <p class="green_font"></p><br>
    <span class="date sub-text green_font"></span>
  </div>
</li>