<li id="trash_talk_template" style="display:none;">
  <div class="commenterImage">
    <img src="#" />
  </div>
  <div >
    <p class="commentText green_font"></p>
    <span class="date sub-text"></span>
  </div>
</li>